* {
  background-color: transparent;
}

:root {
  --transition-duration: 1s;
}

body {
  min-height: 100vh;
  @apply text-gray-400;
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  margin: auto;

  @media (max-width: 768px) {
    width: 88vw;
  }
}