* {
  background-color: transparent;
}

:root {
  --transition-duration: 1s;
}

body {
  min-height: 100vh;
  @apply text-gray-700 dark:text-gray-200 dark:bg-blue-gray-900;
  /* @apply dark:bg-gradient-to-b dark:from-black dark:to-gray-900; */
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ScrollBar */
body::-webkit-scrollbar-track
{
	background-color: transparent;
}
body::-webkit-scrollbar
{
  width: 10px;
	background-color: transparent;
}
body::-webkit-scrollbar-thumb
{
  @apply rounded-full;
  background-image: linear-gradient(to bottom, transparent, rgba(50,50,150,.1), transparent);
}

a {
  @apply text-cyan-500 hover:text-cyan-400 transition-all ease-out duration-100;
}

.dark strong {
  color: #00b3ff;
}